#prospect {
	display: flex;
        justify-content: center;
        margin: 20px;
        flex-direction: column;
        align-items: center;
}
#keptCats {
	display: flex;
        justify-content: center;
        margin: 20px;
        flex-direction: columnn;
        align-items: left;
}
