#prospect {
	min-height: 300px;
	display: flex;
        justify-content: center;
        margin: 20px;
        flex-direction: column;
        align-items: center;
}
#keptCats {
	display: flex;
        justify-content: center;
        margin: 20px;
        flex-flow: row wrap;
        align-items: left;
}
#catCounter {
	display: flex;
        justify-content: center;
}

#mugshot {
	max-height: 300px;
}
#keptCats img {
	max-height: 100px;
	display: flex;
        justify-content: center;
        margin: 20px;
        flex-direction: columnn;
        align-items: left;
}
#buttonRow {

	display: flex;
        justify-content: center;
        margin: 20px;
        flex-direction: columnn;
}
#buttonRow button {
	margin: 5px;
}


@keyframes scaleOutKeyframes {
	from {
		transform: scale(1); 
	}
	to {
		transform: scale(0.1);
	}

}
@keyframes scaleInKeyframes {
	to {
		transform: scale(1); 
	}
	from {
		transform: scale(0.1);
	}

}
